<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>564483135575-io2vk05f90t1e62dl5osr5ss93a7sgm5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.564483135575-io2vk05f90t1e62dl5osr5ss93a7sgm5</string>
	<key>API_KEY</key>
	<string>AIzaSyAhgm-HjYwaTjdvbxm6_G05U7NR-wuOPyU</string>
	<key>GCM_SENDER_ID</key>
	<string>564483135575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.developer.emanuelevillani.TalentApp</string>
	<key>PROJECT_ID</key>
	<string>talentapp-35456</string>
	<key>STORAGE_BUCKET</key>
	<string>talentapp-35456.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564483135575:ios:f36cf36f2fcaa6c955ab12</string>
</dict>
</plist>